/*
    Author: Isaac Kletzli
    Partner: Hyrum Schenk
    Date: 2-Dec-2022
    Course: CS 4540, University of Utah, School of Computing
    Copyright:  CS 4540, Isaac Kletzli, and Hyrum Schenk - This work may not be copied for use in Academic Coursework.

    We, Isaac Kletzli and Hyrum Schenk, certify that we wrote this code from scratch and did not copy it in part or whole from
    another source. Any references used in the completion of the assignment are cited in our README file.

    File Contents

    This CSS file for the enrollment trends page.
*/

body {
}

.initiallyHidden {
    display: none;
}

.fixedButton {
    width: 114px;
}

.keepNewLine {
    white-space: pre-line;
}