@*  Author: Isaac Kletzli
    Partner: Hyrum Schenk
    Date: 8-Sep-2022
    Course: CS 4540, University of Utah, School of Computing
    Copyright:  CS 4540, Isaac Kletzli, and Hyrum Schenk - This work may not be copied for use in Academic Coursework.

    We, Isaac Kletzli and Hyrum Schenk, certify that we wrote this code from scratch and did not copy it in part or whole from
    another source. Any references used in the completion of the assignment are cited in our README file.

    File Contents

    This html file contains a view of an individual applicants' information regarding their TA application.*@

@{
    ViewData["Title"] = "Applicant Info";
}

@{
    ViewData["Description"] = "Details regarding each individual applicant";
}

<h1 id="pageTitle"> View Applicant </h1>

<!--Found from carousel example on Bootstrap's website-->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <!--Image of applicant and personal statement-->
                    <div class="col-lg-4 mb-4">
                        <div><img class="bd-placeholder-img rounded-circle" width="250" height="250" src="~/images/amy_square.jpg" alt="TA Picture" /></div>
                        <h2 class="fw-normal mt-3">Amy Santiago</h2>
                        <p>uID: u1017586</p>
                        <p>
                            Personal Statement: I'm driven to help other students accomplish their goals. Since I have finished
                            my Bachelors Degree in Computer Science, I fully understand the fundamentals of programming and
                            am ready to assist others in their studies.
                        </p>
                    </div>
                    <!--Applicant Information-->
                    <div class="col-lg-4 mb-4">
                        <img src="~/images/text.svg" alt="Home Icon" width="250" height="250" />
                        <h2 class="fw-normal mt-3">Information</h2>
                        <p>English Fluency: Native Speaker</p>
                        <p>Semesters Completed: 8</p>
                        <p>Email: u1017586@utah.edu</p>
                        <p>Degree Pursuing: Masters</p>
                        <p>Hours Avaialble: 12 hours/week</p>
                    </div>
                    <!--Applicant credentials-->
                    <div class="col-lg-4 mb-4">
                        <img src="~/images/graduation.svg" alt="Home Icon" width="250" height="250" />
                        <h2 class="fw-normal mt-3">Credentials</h2>
                        <p>Prev. Experience: Jan-July - Kumon Teacher</p>
                        <p>Prev. College: Salt Lake Community College</p>
                        <p>LinkedIn: www.linkedin.com/amy-santiago</p>
                        <p>U of U GPA: 3.85</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>